%aside#sidebar
  %h1
    %a{:href => '/' }
      %span.firstname
        Irène
      %span.lastname
        Desvignes
  
  #lang
    = r18n.available_locales.map {|locale| "<a href='/?lang=#{locale.code}'>#{locale.title}</a>"} .join(', ')

  %nav#navigation
    %ul
      %li
        %a{:href => '#'} Home
      %li
        %a{:href => '#'} Works
      %li
        %a{:href => '#'} Press
      %li
        %a{:href => '#'} Exhibitions
      %li
        %a{:href => '#'} Background
      %li
        %a{:href => '#'} Contact
