---
import BaseLayout from '../../layouts/BaseLayout.astro';
import WorksGalleryWrapper from '../../components/WorksGalleryWrapper.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const series = await getCollection('series');
  return series.map((entry) => ({
    params: { slug: entry.id },
    props: { serie: { slug: entry.id, ...entry.data } },
  }));
}

const { serie } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="works-list"></div>
    <WorksGalleryWrapper serie={serie} />
  </section>
</BaseLayout>