---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section>
    <table class="formation">
      <tr>
        <td class="col1">Juin 1999</td>
        <td>
          <ul>
            <li>Maîtrise Arts Plastiques. Mention Très Bien.</li>
            <li>
              Lauréate du Prix de l'AUSEL (Alliance Universitaire Scientifique
              et Economique de la Loire).
            </li>
            <li>
              Université Jean Monnet. Faculté : Art Communication Pédagogie
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col1">Juin 1984</td>
        <td>
          <ul>
            <li>
              Diplôme National Supérieur d'Expression Plastique - Art (DNSEP).
            </li>
            <li>Beaux Arts de Lyon</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col1">Juin 1979</td>
        <td>
          <ul>
            <li>Diplôme d'Arts Appliqués. Ateliers 3 Soleils. Lyon</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
</BaseLayout>