---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import homeImage from "../images/series/rouge-a-coeur/1.jpg";
---

<BaseLayout>
  <section id="home">
    <div class="center">
      <Image
        src={homeImage}
        alt="Rouge À Coeur"
        width={550}
        height={550}
        quality={90}
      />
    </div>
  </section>
</BaseLayout>
