---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section id="home">
    <div class="center">
      <img src="/images/works/rouge-a-coeur/1.jpg" />
    </div>
  </section>
</BaseLayout>