@import 'reset'

body
  background: #587171
  color: #fff
  font-family: Arial, Helvetica, sans-serif
  font-size: 14px
  line-height: 18px

a
  text-decoration: none
  color: #fff

p
  text-align: justify

td
  vertical-align: top

table ul
  margin: 0
  padding: 0
  list-style: none

.center
  text-align: center

.col1
  width: 100px

#container
  width: 930px
  margin: 5% auto 0 auto

#sidebar, #main
  float: left

#sidebar
  width: 300px
  margin:
    right: 40px
  text-align: right
  color: #000
  a
    color: #000

#header
  font-weight: normal
  height: 40px
  a
    font-size: 29px

    .firstname
      color: #fff
      font-style: italic

#navigation
  li
    display: block
    text-transform: uppercase
    font-size: 15px
    padding: 2px 0

    ul
      margin: 10px 0 0 0

  .main > li
    font-size: 20px
    padding: 10px 0
    border-bottom: 1px solid #819393

    & li
      margin-bottom: 5px

  a
    color: #303d3d
    &.active
      color: #000

#main
  margin-top: 50px
  width: 590px

#home
  img
    width: 80%
    max-width: 350px
    margin:
      left: 15px
      bottom: 15px
  iframe
    margin: auto

.works-list
  img
    max-height: 120px
    max-width: 120px
    border: 1px solid #C9CBAB

  a
    margin: 5px 2px

.lead
  text-align: center
  background-color: rgba(#fff, .05)
  padding: 20px
  font-size: 16px
