%section#background
  %table.formation
    %tr
      %td.col1 Juin 1999
      %td
        %ul
          %li Maîtrise Arts Plastiques. Mention Très Bien.
          %li Lauréate du Prix de l'AUSEL (Alliance Universitaire Scientifique et Economique de la Loire).
          %li Université Jean Monnet. Faculté : Art Communication Pédagogie
    %tr
      %td.col1 Juin 1984
      %td
        %ul
          %li Diplôme National Supérieur d'Expression Plastique - Art (DNSEP).
          %li Beaux Arts de Lyon
    %tr
      %td.col1 Juin 1979
      %td
        %ul
          %li Diplôme d'Arts Appliqués. Ateliers 3 Soleils. Lyon