%section#exhibitions
  %h3 Expos personnelles
  %table.expos
    %tr
      %td.col1 Avr. 2011
      %td Galerie Il trittico - Rome
    %tr
      %td.col1 Déc. 2010
      %td Galerie Songe d'Icare - Marseille
    %tr
      %td.col1 Mai 2007
      %td Centre d'art contemporain - Lacoux / Casino - Hauteville-Lompnes
    %tr
      %td.col1 Sept. 2006
      %td Nouveau Palais de Justice - Lyon
    %tr
      %td.col1 Juin 2005
      %td Galerie Passions Mauresques - St Etienne
    %tr
      %td.col1 Sept. 2004
      %td Show Room - Lyon
    %tr
      %td.col1 Nov. 2001
      %td Cité SEMBAT-SEGUIN - Vénissieux
    %tr
      %td.col1 Avril 1998
      %td Espace d’Arts Plastiques - Vénissieux
  %h3 Expos collectives
  %table.expos
    %tr
      %td.col1 Avril 2008
      %td Hôpital Bretonneau, Paris
    %tr
      %td.col1 Avril 2008
      %td IDS, Paris
    %tr
      %td.col1 Avril 2007
      %td Salon de Montrouge
    %tr
      %td.col1 Juill. 2006
      %td Wartsaal 3, "Passages" - Bern
    %tr
      %td.col1 Avril 2006
      %td Salon de Montrouge
    %tr
      %td.col1 Juill. 2005
      %td MAC - Pérouges : "Le souffle"
    %tr
      %td.col1 Juill. 2005
      %td MAPRA - Lyon
    %tr
      %td.col1 Janv. 2005
      %td Galerie SWAP - Lyon
    %tr
      %td.col1 Sept. 2003
      %td Maison des Arts Contemporains - Pérouges : "La figure de l'ange"
    %tr
      %td.col1 Janv. 1994
      %td L'Embarcadère - Lyon