%section#home
  %img{:src => '/images/home-picture.png'}
  %p= t.home.introduction
  .center
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "390", :src => "http://www.youtube.com/embed/OMHm_88Hyf8", :width => "480"}