%section#home
  %img{src: '/images/home-picture.png'}
  %p= t.home.introduction
  .center
    %iframe{allowfullscreen: true, frameborder: 0, width: 480, height: 390, src: "http://www.youtube.com/embed/#{t.home.video}"}
