%sections#works
  - @works.each do |slug, work|
    .works-list{:id => slug}
      -work[:images].each do |line|
        - line.each do |image|
          %a{:href => "/images/#{slug}/#{image}"}
            %img{:src => "/images/#{slug}/#{image}"}
        %br