---
import Navigation from "../components/Navigation";
import { getCollection } from 'astro:content';
import "../styles/application.sass";

export interface Props {
  title?: string;
}

const { title = 'Irène Desvignes' } = Astro.props;
const currentPath = Astro.url.pathname;

const seriesEntries = await getCollection('series');
const series = seriesEntries
  .sort((a, b) => a.data.order - b.data.order)
  .map(entry => ({
    slug: entry.id,
    name: entry.data.name,
  }));
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <div id="container">
      <Navigation currentPath={currentPath} series={series} client:load />
      <main id="main">
        <slot />
      </main>
    </div>
  </body>
</html>